.main-info {
  padding: 45px 0 61px;
  @media (min-width: 768px) {
    padding: 55px 0 78px;
  }
  @media (min-width: 1440px) {
    padding: 100px 0 86px;
  }
  &__container {
    padding: 27px 18px;
    background: $color-main-background;
    border-radius: 20px;
    @media (min-width: 768px) {
      padding: 34px 22px 42px 37px;
    }
    @media (min-width: 1440px) {
      padding: 60px 53px;
    }
  }
  &__title {
    margin-bottom: 15px;
    color: $color-main-text;
    font-size: 24px;
    @media (min-width: 768px) {
      margin-bottom: 17px;
      font-size: 48px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 46px;
      font-size: 64px;
    }
  }
  &__block {
    @media (min-width: 768px) {
      display: flex;
      gap: 20px;
    }
    @media (min-width: 1440px) {
      gap: 40px;
    }
  }
  &__text {
    margin-bottom: 13px;
    color: $color-main-text;
    font-size: 16px;
    @media (min-width: 768px) {
      margin-bottom: 0;
      font-size: 20px;
    }
    @media (min-width: 1440px) {
      font-size: 36px;
    }
  }
  &__img {
    width: 260px;
    height: 165px;
    border-radius: 20px;
    margin-bottom: 15px;
    @media (min-width: 768px) {
      width: 300px;
      height: 220px;
      margin-bottom: 0px;
    }
    @media (min-width: 1440px) {
      width: 504px;
      height: 400px;
    }
  }
  &__btn {
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 7px 17px;
    font-size: 20px;
    font-weight: 500;
    color: $color-text-line;
    background-color: $color-card;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: outline 0.5s, gap 0.5s;
    outline: 2px solid transparent;
    @media (min-width: 768px) {
      gap: 10px;
      padding: 10px 20px;
      font-size: 24px;
      outline: 2px solid transparent;
    }
    @media (min-width: 1440px) {
      padding: 20px 40px;
      font-size: 36px;
      outline: 4px solid transparent;
    }
    &:hover {
      outline: 2px solid $color-card;
      gap: 10px;
      @media (min-width: 768px) {
        outline: 2px solid $color-card;
        gap: 20px;
      }
      @media (min-width: 1440px) {
        outline: 4px solid $color-card;
        gap: 20px;
      }
    }
  }
  &__btn-img {
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
    @media (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
    @media (min-width: 1440px) {
      width: 32px;
      height: 32px;
    }
  }
}
