.main-info {
}
.main-info__container {
  padding: 27px 18px;
  background: var(--color-background);
  border-radius: 20px;
}
.main-info__block {
}
.main-info__title {
  margin-bottom: 15px;
  color: var(--color-text);
  font-size: 24px;
}
.main-info__text {
  margin-bottom: 13px;
  color: var(--color-text);
  font-size: 16px;
}
.main-info__img {
  width: 260px;
  height: 165px;
  border-radius: 20px;
}
