.profile-adverts {
  padding-bottom: 40px;
  &__container {
    padding: 0 5px;
    @media (min-width: 768px) {
      padding: 0;
    }
  }
  &__title {
    margin-bottom: 20px;
    font-size: 32px;
    color: $color-black;
    font-weight: 500;
    @media (min-width: 768px) {
      margin-bottom: 15px;
      font-size: 48px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 45px;
    @media (min-width: 768px) {
      margin-top: 50px;
    }
    @media (min-width: 1440px) {
      margin-top: 95px;
    }
  }

  &__card {
    position: relative;
    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn-list {
    display: flex;
    gap: 15px;
    padding-left: 130px;
    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding: 0;
    }
  }
  &__btn {
    display: block;
    position: relative;
    top: -1px;
    width: 56px;
    height: 52px;
    border: 1px solid $color-search-card;
    border-radius: 0 0 20px 20px;
    background-color: $color-search-card;
    background-size: 36px 32px;
    background-position: center;
    background-repeat: no-repeat;
    &.edit-btn {
      background-image: url("../img/profile/redact.svg#redact");
    }
    &.delete-btn {
      background-image: url("../img/profile/delete.svg#delete");
    }
    @media (min-width: 768px) {
      width: 64px;
      height: 69px;
      border-radius: 20px;
    }
    @media (min-width: 1440px) {
      width: 143px;
      height: 140px;
      background-size: 76px 72px;
    }
  }
}
