@import "../universal/reset";
@import "./scss/universal/header/header";
@import "./scss/main/mainInfo/mainInfo";
@import "./scss/main/opportunities/opportunities";
@import "./scss/main/needPlants/needPlants";
@import "./scss/universal/footer/footer";

:root {
  --color-background: #134611;
  --color-text: #cbf4c6;
}

body {
  font-family: Inter;
}
.container {
  width: 296px;
  margin: 0 auto;
}
