@import "./_reset";
@import "./scss/universal/header/_header";
@import "./scss/main/mainInfo/_mainInfo";
@import "./scss/main/opportunities/_opportunities";
@import "./scss/main/needPlants/_needPlants";
@import "./scss/universal/footer/_footer";

:root {
  --color-background: #134611;
  --color-text: #cbf4c6;
}

body {
  font-family: Inter;
}
.container {
  width: 296px;
  margin: 0 auto;
}
