$color-black: #000000;
$color-white: #FFFFFF;
$color-main-background: #134611;
$color-main-text: #cbf4c6;
$color-green1: #0E2704;
$color-card-sidePanel: #538C51;
$color-search-select: #E8FCCF;
$color-formProfile-button: #6C937A;
$color-card: #C4EF8E;
$color-text-line: #173414;
$color-grey-dark: #686A67;
$color-grey-lightblue: #DFE6E1;
$color-grey-very-light: #EFEFEF;