$color-black: #000000;
$color-white: #ffffff;
$color-red: #f00;
$color-main-background: #134611;
$color-main-text: #cbf4c6;
$color-main-card: #0e2704;
$color-card-sidePanel: #538c51;
$color-search-select: #e8fccf;
$color-formProfile-button: #6c937a;
$color-card: #c4ef8e;
$color-text-line: #173414;
$color-grey-dark: #686a67;
$color-grey-lightblue: #dfe6e1;
$color-grey-very-light: #efefef;
$color-formProfile-btn-submit: #9fdab8;
$color_modal-link: #333899;
$color-content-loader: #3c7753;
$color-background-cardLoader: rgba(200, 256, 216, 0.7);
$color-background-modal: rgba(0, 0, 0, 0.75);
$color-blue-green-dark: #d5c214;
