@import "./card.scss";
.opportunities {
}
.opportunities__container {
  padding: 33px 9px 29px;
  background-color: var(--color-background);
  border-radius: 20px;
}
.opportunities__title {
  color: var(--color-text);
  font-size: 24px;
}
.opportunities__list {
}
.swiper {
}
.swiper-wrapper {
}

.swiper-button-prev {
}
.swiper-button-next {
}
