.card {
  width: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 22px 22px;
  border-radius: 30px;
  background-color: $color-search-card;
  color: $color-text-line;
  @media (min-width: 768px) {
    width: 500px;
    padding: 9px 14px;
    border-radius: 25px;
  }
  @media (min-width: 1440px) {
    position: relative;
    width: 945px;
    padding: 33px 33px;
    border-radius: 30px;
  }
  &__way {
    min-width: 50px;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 11px;
    margin-right: 10px;
    padding: 6px;
    border-radius: 12px;
    background-color: $color-card;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    @media (min-width: 1440px) {
      position: absolute;
      right: 33px;
      top: 33px;
      min-width: 100px;
      margin: 0;
      padding: 13px 2px;
      font-size: 26px;
    }
  }

  &__info-wrapp {
    width: 100%;
    margin-bottom: 7px;
    @media (min-width: 768px) {
      display: flex;
      gap: 10px;
    }
    @media (min-width: 1440px) {
      gap: 25px;
      margin-bottom: 7px;
    }
  }

  &__thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 19px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 175px;
    height: 175px;
    margin: 0 auto;
    background-color: $color-card;
    border-radius: 20px;
    @media screen and (min-width: 1440px) {
      width: 300px;
      height: 300px;
    }
  }
  &__title-wrapp {
    position: relative;
    padding: 8px 45px 6px 10px;
    border-radius: 12px 12px 0 0;
    background-color: $color-card;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 219px;
      height: 2px;
      background-color: $color-text-line;
    }
    @media (min-width: 768px) {
      padding-right: 47px;
    }
    @media (min-width: 1440px) {
      width: 424px;
      padding-bottom: 14px;
      padding-left: 35px;
      &::before {
        width: 307px;
      }
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    @media (min-width: 768px) {
      width: 223px;
    }
    @media (min-width: 1440px) {
      font-size: 40px;
      width: 375px;
    }
  }
  &__main-block {
    position: relative;
    flex-grow: 1;
  }
  &__info-list {
    width: 100%;
    padding: 9px 3px 7px 12px;
    border-radius: 0 0 12px 12px;
    background-color: $color-card;
    @media (min-width: 768px) {
      padding-right: 5px;
    }
    @media (min-width: 1440px) {
      height: 252px;
      padding: 24px 48px 24px 30px;
      border-radius: 0 12px 12px 12px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 8px;
      column-gap: 79px;
      font-size: 24px;
    }
  }
  &__date {
    color: $color-card;
    font-size: 14px;
    align-self: flex-end;
    @media (min-width: 768px) {
      padding-right: 7px;
      font-size: 16px;
    }
    @media (min-width: 1440px) {
      padding-left: 0;
      font-size: 24px;
    }
  }
}
