.advert {
  padding: 40px 0 28px;
  @media (min-width: 768px) {
    padding: 92.4px 0 30px;
  }
  @media (min-width: 1440px) {
    padding: 100px 0 79px;
  }
  &__container {
    padding: 0 23px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1440px) {
    }
  }
  &-maininfo {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-bottom: 10px;
    }
    @media (min-width: 1440px) {
      gap: 59px;
    }
    &__img {
      width: 250px;
      height: 250px;
      margin-bottom: 17px;
      border-radius: 20px;
      @media (min-width: 768px) {
        min-width: 300px;
        height: 300px;
        margin-bottom: 0;
      }
      @media (min-width: 1440px) {
        min-width: 500px;
        height: 500px;
      }
    }
    &__title {
      color: $color-text-line;
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 10px;
      @media (min-width: 768px) {
        margin-bottom: 6px;
        font-size: 40px;
      }
      @media (min-width: 1440px) {
        margin-bottom: 10px;
        font-size: 65px;
      }
    }
    &__date {
      color: $color-content-loader;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 2px;
      @media (min-width: 768px) {
        padding-left: 4px;
        margin-bottom: 5px;
        font-size: 18px;
      }
      @media (min-width: 1440px) {
        padding-left: 7.5px;
        margin-bottom: 4px;
        font-size: 28px;
      }
    }
    &-way {
      display: inline-block;
      padding: 3px 9px;
      margin-bottom: 15px;
      background: $color-card;
      border-radius: 20px;
      @media (min-width: 768px) {
        padding: 5px 14px;
      }
      @media (min-width: 1440px) {
        padding: 5px 12px;
        margin-bottom: 41px;
      }
      &__text {
        color: $color-text-line;
        font-size: 16px;
        @media (min-width: 768px) {
          font-size: 24px;
        }
        @media (min-width: 1440px) {
          font-size: 36px;
        }
        &::after {
          @media (min-width: 768px) {
            font-size: 24px;
          }
          @media (min-width: 1440px) {
          }
        }
      }
    }
  }
  &-properties {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    @media (min-width: 768px) {
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 11px;
      height: 140px;
      margin-bottom: 0px;
    }
    @media (min-width: 1440px) {
      height: 296px;
      width: 375px;
      row-gap: 25px;
      column-gap: 109px;
    }
    &_more {
      max-height: 141px;
      margin-bottom: 0;
      overflow: hidden;
      transition: max-height 0.7s ease;
      @media (min-width: 768px) {
        column-gap: 0;
        flex-wrap: nowrap;
        height: 55px;
        width: 100%;
        max-height: 55px;
        transition: max-height 0.65s ease;
      }
      @media (min-width: 1440px) {
        max-height: 105px;
        height: 105px;
      }
    }
    &__more-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
      @media (min-width: 1440px) {
      }
    }
    &_hidden {
      max-height: 1px;
    }
    &__text {
      color: $color-text-line;
      font-size: 16px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
      @media (min-width: 1440px) {
        font-size: 32px;
      }
      & span {
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
  }
  &-discreption {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media (min-width: 1440px) {
      margin-top: 51px;
    }
    &__title {
      color: $color-black;
      font-size: 30px;
      margin-bottom: 6px;
      font-weight: 500;
      @media (min-width: 768px) {
        font-size: 44px;
        margin-bottom: 10px;
      }
      @media (min-width: 1440px) {
        font-size: 64px;
        margin-bottom: 23px;
      }
    }
    &__text {
      font-size: 16px;
      word-break: break-all;
      @media (min-width: 768px) {
        font-size: 26px;
      }
      @media (min-width: 1440px) {
        font-size: 40px;
        font-weight: 300;
      }
      &_default {
        color: $color-grey-dark;
      }
    }
  }
  &-userinfo {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 15px 16px 15px 16px;
    border-radius: 20px;
    background: $color-grey-lightblue;
    @media (min-width: 768px) {
      padding: 26px 20px 25px 25px;
      gap: 15px;
    }
    @media (min-width: 1440px) {
      padding: 34px 59px 32px 31px;
      gap: 23px;
    }
    &__userinfos {
      padding-top: 5px;
      @media (min-width: 768px) {
        min-width: 150px;
      }
      @media (min-width: 1440px) {
        min-width: 364px;
      }
    }
    &__name {
      color: $color-black;
      font-size: 16px;
      font-weight: 600;
      word-break: break-all;
      @media (min-width: 768px) {
        margin-bottom: 1px;
        font-size: 22px;
      }
      @media (min-width: 1440px) {
        margin-bottom: 11px;
        font-size: 40px;
      }
    }
    &__adress {
      margin-bottom: 3px;
      font-size: 11px;
      font-weight: 600;
      color:$color-brown-grey;
      word-break: break-all;
      @media (min-width: 768px) {
        margin-bottom: 6px;
        font-size: 14px;
      }
      @media (min-width: 1440px) {
        margin-bottom: 7px;
        font-size: 26px;
      }
    }
    &__phone {
      color: $color-black;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 3px;
      @media (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 6px;
      }
      @media (min-width: 1440px) {
        font-size: 28px;
      }
    }
    &__email {
      color: $color-black;
      font-size: 13px;
      font-weight: 600;
      word-break: break-all;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      @media (min-width: 1440px) {
        font-size: 28px;
      }
    }
    &__profile-img {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      height: 100px;
      background-color: $color-grey-very-light;
      border-radius: 20px;
      @media (min-width: 768px) {
        min-width: 175px;
        min-height: 175px;
      }
      @media (min-width: 1440px) {
        min-width: 250px;
        min-height: 250px;
      }
    }
    &__img {
      width: 80%;
      height: 80%;
    }
  }
  &-wishes {
    padding: 15px;
    background: $color-grey-lightblue;
    border-radius: 20px;
    min-height: 140px;
    @media (min-width: 768px) {
      min-width: 220px;
      padding: 22px 18px 22px 13px;
    }
    @media (min-width: 1440px) {
      min-width: 400px;
      padding: 34px 36px 34px 33px;
    }
    &__title {
      margin-bottom: 10px;
      font-size: 17px;
      font-weight: 500;
      color: $color-black;
      @media (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 15px;
      }
      @media (min-width: 1440px) {
        font-size: 36px;
      }
    }
    &__text {
      color: $color-black;
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
      @media (min-width: 1440px) {
        font-size: 28px;
      }
      &_default {
        color: $color-grey-dark;
      }
    }
  }
  &-user {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 16px;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;
    }
    @media (min-width: 1440px) {
      gap: 100px;
      margin-top: 90px;
    }
  }
  &-properties__more-btn {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 16px;
    background-color: $color-formProfile-button;
    border: 1px solid transparent;
    border-radius: 10px;
    @media (min-width: 768px) {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
    }
    @media (min-width: 1440px) {
      height: 60px;
      width: 60px;
      margin-top: 15px;
      border-radius: 20px;
    }
  }
  &-properties-cross {
    position: relative;
    &__line {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 17px;
      background-color: $color-black;
      border-radius: 10px;
      transition: transform 0.7s;
      @media (min-width: 768px) {
      }
      @media (min-width: 1440px) {
        height: 4px;
        width: 40px;
      }
      &_vertical {
        transform: translate(-50%, -50%) rotate(360deg);
        @media (min-width: 768px) {
        }
        @media (min-width: 1440px) {
        }
        .advert-properties_more.advert-properties_hidden
          ~ .advert-properties__more-btn
          & {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
      &_horizontal {
        transform: translate(-50%, -50%) rotate(0deg);
        @media (min-width: 768px) {
        }
        @media (min-width: 1440px) {
        }
      }
    }
  }
}
