@import "./singin-modal";
@import "./delete-modal";
@import "./authentication-modal";

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-background-modal;
  backdrop-filter: blur(3px);
  z-index: 150;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border-radius: 30px;
  z-index: 1200;
  @media (min-width: 1440px) {
    border-radius: 40px;
  }
}
