.ai-assist {
  padding-top: 10px;
  height: 100%;
  @media (min-width: 768px) {
    padding-top: 15px;
  }
  @media (min-width: 1440px) {
    padding-top: 35px;
  }
  &__container {
    display: flex;
    height: calc(100% - 5px);
    flex-direction: column;
    gap: 5px;
    // justify-content: space-between;
    @media (min-width: 768px) {
      gap: 8px;
    }
    @media (min-width: 1440px) {
      gap: 10px;
    }
  }
  &-chat-wrapper {
    height: calc(100vh - 153px);
    @media (min-width: 768px) {
      height: calc(100vh - 195px);
    }
    @media (min-width: 1440px) {
      height: calc(100vh - 265px);
    }
  }
  &-chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
    @media (min-width: 768px) {
      padding-right: 15px;
    }
    @media (min-width: 1440px) {
      padding-right: 20px;
    }
    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &__message {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (min-width: 768px) {
        width: 85%;
      }
      @media (min-width: 1440px) {
        gap: 13px;
        width: 90%;
      }
      &_user {
        align-self: flex-end;
        flex-direction: row-reverse;
      }
    }
    &__avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      align-self: flex-start;
      @media (min-width: 768px) {
        width: 45px;
        height: 45px;
      }
      @media (min-width: 1440px) {
        width: 75px;
        height: 75px;
      }
    }
    &__text {
      padding: 15px;
      font-size: 13px;
      border-radius: 20px;
      @media (min-width: 768px) {
        padding: 18px;
        font-size: 14px;
      }
      @media (min-width: 1440px) {
        padding: 20px;
        font-size: 18px;
      }
      .ai-assist-chat__message_user > & {
        background-color: $color-grey-lightblue;
      }
      .ai-assist-chat__message_assistant > & {
        background-color: $color-search-select;
      }
    }
  }
  &-panel {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 7px;
    background-color: $color-card-sidePanel;
    border-radius: 15px;
    @media (min-width: 768px) {
      padding: 7px 9px;
    }
    @media (min-width: 1440px) {
      padding: 8px 16px;
      border-radius: 15px;
    }
    &__loader {
      position: absolute;
      top: 0;
      padding-bottom: 3px;
      transform: translateY(-115%);
      border-radius: 5px 5px 0 0;
    }
    &-plus {
      position: relative;
      &-btn {
        padding: 7px;
        background-color: $color-main-text;
        border: 1px solid transparent;
        border-radius: 0 0 10px 10px;
        @media (min-width: 768px) {
          border-radius: 0 0 13px 13px;
        }
        @media (min-width: 1440px) {
          padding: 5px;
        }
        .ai-assist-panel-plus-list.is-hidden ~ & {
          border-radius: 10px;
          @media (min-width: 768px) {
            border-radius: 13px;
          }
        }
        &__svg {
          width: 20px;
          height: 20px;
          @media (min-width: 768px) {
            width: 30px;
            height: 30px;
          }
          @media (min-width: 1440px) {
            width: 40px;
            height: 40px;
          }
        }
      }
      &-list {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 5px;
        transform: translateY(-100%);
        background-color: $color-main-text;
        border-radius: 10px 10px 10px 0;
        @media (min-width: 768px) {
          padding: 10px 7px;
        }
        @media (min-width: 1440px) {
          padding: 15px 10px;
        }
        &__item {
          padding: 2px 0;
          border-top: 1.5px solid $color-grey-dark;
          border-bottom: 1.5px solid $color-grey-dark;
          @media (min-width: 768px) {
            padding: 3px 0;
          }
          @media (min-width: 1440px) {
            padding: 5px 4px;
            border-top: 2px solid $color-grey-dark;
            border-bottom: 2px solid $color-grey-dark;
          }
        }
        &__btn {
          font-size: 13px;
          color: $color-black;
          white-space: nowrap;
          background-color: transparent;
          border: 1px solid transparent;
          @media (min-width: 768px) {
            font-size: 14px;
          }
          @media (min-width: 1440px) {
            font-size: 18px;
          }
        }
      }
    }
    &__form {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &__enter-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
      width: 100%;
      max-height: 150px;
      padding: 2px;
    }
    &__enter {
      width: 100%;
      padding: 3px;
      min-height: 60px;
      font-size: 13px;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 12px 5px 5px 12px;
      resize: none;
      @media (min-width: 768px) {
        min-height: 65px;
        padding: 5px;
        font-size: 13px;
      }
      @media (min-width: 1440px) {
        min-height: 80px;
        padding: 5px 7px;
        font-size: 18px;
      }
      &:focus {
        box-shadow: 0 0 5px 2px $color-black-opacity-half;
      }
      &::placeholder {
        color: $color-black;
      }
      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 15px;
        @media (min-width: 768px) {
          width: 5px;
        }
        @media (min-width: 1440px) {
          width: 8px;
        }
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 15px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-text-line;
        border-radius: 15px;
        @media (min-width: 1440px) {
          border-width: 2.5px, 20px, 2.5px, 2.5px;
        }
      }
    }
    &-send {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 40px;
      height: 40px;
      background-color: $color-main-text;
      border: 1px solid transparent;
      border-radius: 10px;
      @media (min-width: 768px) {
        min-width: 45px;
        height: 45px;
      }
      @media (min-width: 1440px) {
        min-width: 60px;
        height: 60px;
        border-radius: 5px 20px 20px 5px;
      }
      &__svg {
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
        @media (min-width: 768px) {
          width: 22px;
          height: 22px;
        }
        @media (min-width: 1440px) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
