.criteria-info {
  width: 100%;
  height: 100%;
  &__container {
    padding: 15px 0 80px;
    @media (min-width: 768px) {
      padding: 25px 0 30px calc(22% - (100vw - 768px) / 2.2);
    }
    @media (min-width: 1440px) {
      padding: 50px 0 30px calc(15% - (100vw - 1440px) / 2.2);
    }
  }

  &__open-btn {
    position: fixed;
    top: 75px;
    left: 10px;
    width: 50px;
    height: 40px;
    transform: scale(0.8, 0.9);
    font-size: 36px;
    color: $color-text-line;
    background-color: $color-formProfile-btn-submit;
    border: 2px solid $color-text-line;
    border-radius: 10px;
    @media (min-width: 768px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
  &__open-svg {
    width: 40px;
    height: 30px;
  }

  &__title {
    font-size: 26px;
    margin-bottom: 4px;
    font-weight: 500;
    @media (min-width: 768px) {
      margin-bottom: 3px;
      font-size: 24px;
    }
    @media (min-width: 1440px) {
      font-size: 40px;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    @media (min-width: 768px) {
      margin-bottom: 18px;
      font-size: 16px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 25px;
      font-size: 22px;
    }
  }

  &-criteria {
    display: flex;
    flex-direction: column;
    gap: 18px;
    @media (min-width: 768px) {
      gap: 15px;
    }
    @media (min-width: 1440px) {
      gap: 17px;
    }

    &__title {
      margin-bottom: 4px;
      font-size: 20px;
      font-weight: 500;
      @media (min-width: 768px) {
        margin-bottom: 2px;
      }
      @media (min-width: 1440px) {
        font-size: 30px;
      }
    }

    &__text {
      margin-bottom: 6px;
      font-size: 14px;
      @media (min-width: 768px) {
        margin-bottom: 5px;
      }
      @media (min-width: 1440px) {
        font-size: 20px;
      }
    }

    &-table {
      width: 100%;
      font-size: 13px;
      border-collapse: collapse;
      @media (min-width: 768px) {
        font-size: 14px;
      }
      @media (min-width: 1440px) {
        font-size: 20px;
      }
      & td {
        padding: 2px;
        border: 1px solid $color-black;
        @media (min-width: 768px) {
          padding: 3px;
        }
        @media (min-width: 1440px) {
        }
      }
      & tr td:first-child {
        white-space: nowrap;
      }
      & thead td {
        font-weight: 600;
      }
    }
  }
}
