.logo {
  display: flex;
  align-items: center;
  padding: 3.5px 20px 3.5px 3.5px;
  background-color: $color-white;
  border-radius: 10px;
  @media (min-width: 768px) {
    padding: 5px;
  }
  @media (min-width: 1440px) {
    padding: 8px 18px;
  }
}

.logo__svg {
  width: 78px;
  height: 31px;
  background-image: url("/img/universal/logo.svg");
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    width: 105.5px;
    height: 40px;
  }
  @media (min-width: 1440px) {
    width: 134px;
    height: 50px;
  }
}
