@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./universal/fonts/Inter-Regular.woff2") format("woff2"),
    url("./universal/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./universal/fonts/Inter-Medium.woff2") format("woff2"),
    url("./universal/fonts/Inter-Medium.woff") format("woff");
}
